@media only screen and(max-width: 768px) and(max-width: 1024px){
    .container {
        flex-direction: row;
        margin: 10px;
    }
    .box {
        width: 45%;
        height: 500px;
        margin-bottom: 5px;
        padding: 10px;
      
    }
    
    form.search input[type=text] {
        width: 35%;
      }
      
     
}